.consolas {

    margin: 8rem 0 0 0;
    overflow: hidden;

}

@media (max-width: 810px) {


    .consolas {

        margin: 8rem 0;

    }

}


@media (max-width: 430px) {


    .consolas {

        margin: 8rem 2vw;
        margin-bottom: 2rem;

    }

}
