.editar-producto-field{

    margin: 6px 0;
    padding: 20px 8px 20px 8px; 
    font-family: "Raleway", sans-serif;
    font-size: 0.75rem;
    border-color: transparent;
    width: 30vw;

}

@media (max-width: 815px){

    .editar-producto-field{
        width: 80vw;
    }

}