.header-login-button{

    width: 182px;
    height: 51px;
    border-color: #2a7ae4;
    border-width: 3px;
    background: #ffffff;
    font-weight: 400;

}

@media (max-width: 420px){

    .header-login-button{

        height: 40px;
        width: 133px;

    }

}