.header{

    display: flex;
    justify-content: space-between;
    padding: 3rem 9vw;
    align-items: center;

}


@media (max-width: 815px){

    .header{

        height: 74px;
        padding: 0.5rem 3.5vw;
    }

}

@media (max-width: 420px){

    .header{
        margin: 0 2vw;
    }
}