.header-login-busqueda{

    display: flex;
    width: 71vw;
    justify-content: space-between;
    align-items: center;

}

@media (max-width: 815px){

    .header-login-busqueda{

        width: 72vw;

    }

}



@media (max-width: 420px){

    .header-login-busqueda{

        width: 52.5vw;
        flex-direction: row-reverse;

    }

}