.pieDePagina{
    
    background: #eaf2fd;
    margin: 0 -9vw;
    height: 470px;
    overflow: hidden;
    display: flex;
    align-items: center;

}

@media (max-width: 810px){

    .pieDePagina{

        height: 364px;
    }
}


@media (max-width: 430px){

    .pieDePagina{
        padding: 40px 0;
        height: 553px;
        justify-content: center;
        padding: 10px;
        
        
    }
}
