.pieDePagina-btn-formulario{

    background: #2A7AE4;
    color: white;
    height: 51px;
    width: 144px;
}

@media (max-width: 384px) {


    .pieDePagina-btn-formulario{

        height: 40px;
        width: 133px;
    }

}
