.pieDePagina-formulario{

    display: flex;
    flex-direction: column;
    width: 38vw;

}


@media (max-width: 810px) {


    .pieDePagina-formulario{

        width: 50vw;

    }

}

@media (max-width: 384px) {


    .pieDePagina-formulario{

        margin-top: 16px;
        width: 90vw;

    }

}
