.pieDePagina{
    
    background: #eaf2fd;
    width: 100vw;
    height: 470px;
    
    display: flex;
    align-items: center;

}

@media (max-width: 810px){

    .pieDePagina{

        height: 364px;
    }
}


@media (max-width: 384px){

    .pieDePagina{

        height: 553px;
        justify-content: center;
        
    }
}
