.pieDePagina-container{
    height: 66%;
    vertical-align: top;
    margin: 0 6vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
       
}

@media (max-width: 430px){

    .pieDePagina-container{
        flex-direction: column;
        align-items: center;
        
    }



}