body{

    font-family: Raleway, sans-serif;
    font-weight: normal;
    color: #464646;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 9vw;
    background-color: #f5f5f5;
}

button{
    cursor: pointer;
}

@media (max-width: 830px){

    body{

        margin: 0 5vw;
    }
}