.iniciar-sesion-input{
    margin: 2px 0;
    width: 423px;
    padding: 23px 8px;
    font-family: "Raleway", sans-serif;
    border-radius: 3px;
    border-color: transparent;
    
}

.iniciar-sesion-input::placeholder{

    font-family: "Raleway", sans-serif;
    
}


@media (max-width: 810px){

    .iniciar-sesion-input{
        width: 275px;
        padding: 8px 5px;
    }
}