.banner-titulo-principal{

    color: white;
    font-size: 3.3rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 3px black;

}


@media (max-width: 430px) {
    

    .banner-titulo-principal{
        
        font-size: 1.37rem;

    }


}