.banner-content{

    margin: 0 9vw;
    position: relative;
    bottom: 11.0rem;

}


@media (max-width: 430px) {
    

    .banner-content{
        
        bottom: 8rem;
        margin: 0 13vw;

    }


}