.starwars-box{

    width: 12vw;
}


@media (max-width: 810px){


    .starwars-box{

        width: 23vw;

    }

    .starwars-box:nth-child(n+5){

        display: none;

    }
    
}


@media (max-width: 385px){


    .starwars-box{

        width: 40vw;
        margin-bottom: 2rem;

    }

    .starwars-box:nth-child(n+5){

        display: none;

    }
    
}

 