.diversos{

    margin: 2.5rem 0;
    overflow: hidden;
    box-sizing: border-box;
    

}


@media (max-width: 810px) {


    .diversos {

        margin: 8rem 0;

    }

}

@media (max-width: 430px) {


    .diversos{

        margin: 2rem 2vw;

    }

}