.todos-los-productos-box {

    margin: 10px 0;
    width: 12vw;
    flex-wrap: wrap;
    text-overflow: hidden;
}

@media (max-width: 810px){
    .todos-los-productos-box{
    width: 19vw;
    }
}
 

@media (max-width: 430px){
    .todos-los-productos-box{
    width: 40vw;
    }
}