.todos-los-productos-editar{
    background-image: url('../../Pictures/logo-editar.png' );
    background-color: transparent;
    background-size: cover;
    width: 24px;
    height: 24px;
    border-color: transparent;

}